@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v40/TK3_WkUHHAIjg75cFRf3bXL8LICs169vsUZiYySUhiCXAA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

body{
  box-sizing: border-box;
  background-color: #f8f9fa;
}
a:visited, a:link{
  text-decoration: none;
}

.btn{
  background-color: white;
  border: none;
  position: relative;
  left: 75%;
  bottom: 2%;
  padding: 0 0.5rem;
  cursor: pointer;
}
.btn:hover{
  background-color: #e2e2e2;
}

/* Header styles */
.header__top-bar{
  background-color: black;
  display: flex;
  justify-content: flex-end;
}
.header__top-bar--actions{
  display: flex;
  justify-content: center;
  margin: 0.75% 5% 0.75% 5%;
}
h5{
  font-size: 0.725em;
  font-weight: bold;
  color: white;
  padding-left: 0.5rem;
}
.right-border-gray{
  border-right: 1px solid gray;
  padding-right: 1rem;
}
img{
  margin-left: 1rem;
  height: 0.75rem;
}
@media only screen and ( max-width: 830px) {
  .header__flag{
    margin-left: 1rem;
  }
}

/* Navbar styles */
.navbar{
  background-color: #292828;
  height: 85px;
}
.navbar__flex-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4%;
}
#gibson_logo{
  height: 100%;
  box-shadow:  0 4px 5px -1px #292828;
}
.navbar__primary-nav{
  margin-left: 3%;
  display: flex;
  align-items: center;
}
.navbar__primary-nav--menu-item{
  display: flex;
  list-style: none;
}
.navbar__primary-nav--menu-item li{
  font-size: 1rem;
  color: white;
  margin-right: 2rem;
}
.fa-shopping-cart{
  font-size: 1.25rem;
}
.cart-icon{
  font-size: 0.75rem;
  color: white;
  /* margin-left: 30%; */
}
label{
  display: none;
}
#toggle{
  display: none;
}
.navbar__responsive-nav{
  display: none;
}
@media only screen and ( max-width: 830px) {
  .collection-banner {
    text-align: center;
  }
  h1{
    margin-left: 0;
  }
  .navbar__flex-container{
    margin-left: 0;
  }
  .navbar__primary-nav{
    display: none;
  }
  .navbar__responsive-nav{
    display: inline;
    position: absolute;
    /* left: 5%; */
    top: 4%;
    width: 100%;
  }
  label{
    display: block;
    color: white;
    font-size: 2.5rem;
    margin-left: 5%;
  }
  img, #gibson-logo{
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar__responsive-nav--menu{
    display: none;
    flex-direction: column;
    line-height: 70px;
    color: white;
    background-color: #292828;
    margin-top: 2%;
    text-align: center;
  }
  #toggle:checked + .navbar__responsive-nav--menu{
    display: flex;
  }
  .responsive-link {
    border-bottom: 1px solid white;
    color: white;
  }
  .cart-icon{
    display: none;
  }
}

/* CollectionBanner */
.collection-banner{
  background-color: #f8f9fa;
}
h1{
  font-size: 2.5rem;
  padding: 1.5rem 0;
  margin-left: 11%;
}
@media only screen and ( max-width: 830px) {
  .collection-banner {
    text-align: center;
  }
  h1{
    margin-left: 0;
    text-align: center;
  }
}
/* CollectionHeading */
.collection-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
  padding: 1rem 0;
}
h2{
  font-family: 'Oswald';
  font-size: 1.75rem;
  margin-left: 11%;
}
.explore-btn{
  font-family: 'Lato';
  font-size: 0.875rem;
  font-weight: 400;
  color: #60769a;
  border: 1px solid #60769a;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  line-height: 1.5;
  margin-right: 11%;
  height: 2rem;
}
/* CustomShop */
.models{
  background-color: #f8f9fa;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* padding: 0.5% 10% 5% 10%; */
  padding-top: 0.5%;
  padding-bottom: 5%;
  /* max-width: 78%;
  margin-left: 11%;
  margin-right: 11%; */
}
.models__flex{
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.model-card{
  width: 32%;
  /* max-width: 350px; */
  height: auto;
  background-color: white;
  border-radius: 0.345em;
  /* margin: 1%; */
  padding-top: 1%;
}
.model-card:hover{
  box-shadow: 1px 1px #e2e2e2;
}
.model-card__flex-container{
  display: flex;
  justify-content: space-between;
}
.model-card__name, .model-card__price{
  color: black;
  font-size: 1rem;
  display: inline;
}
.model-card__name{
  margin-left: 5%;
}
.model-card__name:hover{
  color: #B87333;
}
.model-card__price{
  margin-right: 5%;
}
.model-card__img{
  margin-top: 10%;
  margin-left: 0;
  width: 90%;
  height: auto;
  padding-left: 3%;
  padding-right: 3%;
}
@media only screen and ( max-width: 770px ) {
  .model-card {
    flex-basis: none;
    width: 48%;
    margin-top: 10%;
  }
}  
@media only screen and ( max-width: 615px ) {
  .models{
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* .models__flex{
    justify-content: center;
  } */
  .model-card {
    flex-basis: none;
    width: 98%;
    margin-top: 10%;
  }
}
/* Cart */
.cart{
  
}
.cart__default-text{
  margin-top: 3%;
  margin-left: 1%;
  height: 40vh;
}
.cart__default-text--heading{
  font-size: 2rem;
}
.cart__default-text--content{
  font-family: 'Lato';
  font-size: 1rem;
  font-weight: 300;
  margin: 1% 13% 1% 11%;
}
.total-price{
  background-color: #f8f9fa;
}
@media only screen and ( max-width: 830px) {
  .cart__default-text--heading{
    text-align: center;
    margin-left: 0;
  }
  .cart__default-text--content{
    text-align: center;
    margin-top: 3%;
  }
}

/* FooterBanner */
.footer-banner{
  background-color: white;
  color: #000;
  padding: 4% 0 0 0;
  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
.footer-banner__heading{
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 23px;
}
input{
  width: 30%;
  height: 2rem;
  border: none;
  color: inherit;
  border-bottom: solid 1px;
  display: inline-block;
  margin-right: 1%;
  margin-left: 11%;
  background-color: transparent;
  /* margin-bottom: 1%; */
  font-size: 1rem;
  outline: 0;
  padding: 0.5% 0;
}
.subscribe-btn{
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  width: 15%;
  padding: 0.5rem 0;
  height: 100%;
}
.footer-banner__input-flex{
  display: flex;
  justify-content: space-between;
  height: 2rem;
}
.footer-banner__border{
  background-color: black;
  height: 3rem;
  position: relative;
  bottom: 0;
  margin-top: 2%
}
@media only screen and ( max-width: 830px) {
  /* .footer-banner{
    position: fixed;
    bottom: 0;
    width: 100%;
  } */
}

@media only screen and ( max-width: 480px) {
  /* navbar */
  .collection-banner {
    text-align: center;
  }
  h1 {
    margin-left: 0;
    padding: 0 2%;
  }
  h2 {
    margin: auto;
  }
  .explore-btn {
    display: none;
  }
  /* .models {
    display: block;
    padding: 0.5% 1% 5% 1%;
  } */
  .model-card {
    width: 98%;
    
  }
  .footer-banner__heading {
    text-align: center;
  }
  input {
    width: 60%;
    margin-left: 4%;
    font-size: 1rem;
  }
  .subscribe-btn {
    padding: 0.7rem;
    width: 30%
  }
  #total-price__heading{
    display: block;
    text-align: center;
  }
}
@media only screen and ( max-width: 480px) {
  input {
    width: 60%;
    margin-left: 4%;
    font-size: 1rem;
  }
  .subscribe-btn {
    padding: 0.7rem;
    width: 30%
  }
  #total-price__heading{
    display: block;
    text-align: center;
  }
}

